/* CareerPage.css */

/* || Hero */

#career-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/banners/Careers.webp") no-repeat center center;
  background-size: cover;
}

/* || Apply */
.apply {
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apply-sub-heading {
  font-size: 20px;
  line-height: 1.2;
}

.apply-img {
  position: relative;
  left: 50%;
  transform: translateX(-55%);
}

/* || Positions */
.positions {
  overflow: hidden;

  position: relative;
  z-index: 1;
}

.positions-heading {
  line-height: 45px;
}

.positions-sub-heading {
  font-size: 18px;
  line-height: 25px;
}

.positions-item {
  background-color: #000;
  border-radius: 20px;
  box-shadow: rgba(255, 215, 0, 0.16) 0px 10px 15px 0px,
    rgba(255, 215, 0, 0.06) 0px 0px 0px 1px;
}

[class*="positions-shape-"] {
  position: relative;
}

[class*="positions-shape-"]::before {
  content: "";
  background-color: #ffd700;
  border-radius: 20px;
  position: absolute;
  top: -25px;
  bottom: -25px;
  width: 33%;
  z-index: -1;
}

.positions-shape-start::before {
  left: -25px;
}

.positions-shape-end::before {
  right: -25px;
}

section.clients-section div.carousel-item {
  min-height: 225px;
  border-color: black;
}

.item-col {
  flex: 0 0 100%;
  max-width: 100%;
}

.military-branches-grid .section-card {
  box-shadow: 0 6px 10px #000000 !important;
}

.military-branches-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (min-width: 992px) {
  .military-branches-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}